<% if post.comments.length != 0 %>
  <h5 class="mt-4">Comments</h5>
<% end %>
<% post.comments.each do |comment| %>
  <div class="card-body bg-white">
    <div >
      <p><strong><%= comment.user.username %></strong>: <%= comment.comment %> -- <%= time_ago_in_words comment.created_at %> ago &nbsp

      <%= link_to like_comments_path(comment_id: comment.id), method: :post, class: "like_comment_test" do %>
        <% @likeComments = LikeComment.where(user_id: current_user.id, comment_id: comment.id).length %>
        <% if @likeComments == 0 %>
          <i class="fa fa-heart unlike"></i>
        <% else %>
          <i class="fa fa-heart like"></i>
        <% end %>
      <% end %>
       <%= LikeComment.where(comment_id: comment.id).length %> Likes </p>

      <% if comment.user_id == current_user.id %>
        <% if comment.comment_time_limit %>
          <%= link_to edit_comment_path(comment) do %>
            <button type="button" class="btn btn-primary btn-sm edit-comment-btn">Edit comment</button>
          <% end %> 
        <% else %>
          <button type="button" class="btn btn-primary btn-sm edit-comment-btn" onclick="return alert('You can only edit posts within the first 10 minutes')">Edit comment</button> 
        <% end %>
          <%= link_to 'Delete comment', {controller: "comments", action: "destroy", id: comment.id}, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-sm" %>
      <% else %>
        <button type="button" class="btn btn-primary btn-sm" onclick="return alert('You can only edit your own comment')">Edit Comment</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="return alert('You can only delete your own comment')">Delete Comment</button>
      <% end %>
    </div>
  </div>
<% end %>
