<% if post.comments.length != 0 %>
  <h4 class="mt-4">Comments</h4>
<% end %>
<% post.comments.each do |comment| %>
  <div class="card-body bg-white">
    <div class="border border-dark rounded p-2">
      <p><strong><%= comment.user.username %></strong>: <%= comment.comment %><br></p>
      <p><%= time_ago_in_words post.created_at %> ago</p>

      <%= link_to like_comments_path(comment_id: comment.id), method: :post, class: "like_comment_test" do %>
        <% @likeComments = LikeComment.where(user_id: current_user.id, comment_id: comment.id).length %>
        <% if @likeComments == 0 %>
          <i class="fa fa-heart unlike fa-2x"></i>
        <% else %>
          <i class="fa fa-heart like fa-2x"></i>
        <% end %>
      <% end %>
      <p> <%= LikeComment.where(comment_id: comment.id).length %> Likes </p>

      <% if comment.user_id == current_user.id %>
        <% if comment.comment_time_limit %>
          <%= link_to edit_comment_path(comment) do %>
            <button type="button" class="btn btn-primary edit-comment-btn">Edit comment</button>
          <% end %> 
        <% else %>
          <button type="button" class="btn btn-primary edit-comment-btn" onclick="return alert('You can only edit posts within the first 10 minutes')">Edit comment</button> 
        <% end %>
          <%= link_to 'Delete comment', {controller: "comments", action: "destroy", id: comment.id}, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <button type="button" class="btn btn-primary" onclick="return alert('You can only edit your own comment')">Edit Comment</button>
        <button type="button" class="btn btn-primary" onclick="return alert('You can only delete your own comment')">Delete Comment</button>
      <% end %>
    </div>
  </div>
<% end %>
