<div style="margin-top: 50px;"></div>
  <div class="container">
    <% @posts.each do |post| %>
      <div class="card text-center w-75 mx-auto mt-4 shadow-post">
        <div class="card-header bg-info">
          Posted by <%= "#{post.user.username}" %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= simple_format(post.message) %></h5>
          <%# if time limit is reached%>
          <% if post.user_id == current_user.id %>
            <% if post.post_time_limit %> 
              <%= render partial: "posts/post_buttons_within_time_limit", locals: {post: post} %>  
            <% else %>
              <%= render partial: "posts/post_buttons_not_within_time_limit", locals: {post: post} %>
            <% end %>
            <%= link_to 'Delete', post, :method => :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
          <% else %>
            <%= render partial: "posts/post_buttons_not_current_user", locals: { post: post } %>
          <% end %>
        </div>
        <div>
          <%= render partial: "posts/post_like_button_and_counter", locals: { post: post } %>
          <%= render partial: "posts/post_time", locals: { post: post } %>
        </div>
        <%= render "posts/comments", post: post %>
      </div>
    <% end %>
  </div>
    
  
