<div>
  <%= flash[:notice] %>
</div>

<div class="post-container">
  <%= link_to new_post_path do %>
    <button>New post</button>
  <% end %>
</div>

<div class="post-container">
  <% @posts.reverse.each do |post| %>
    <div class="post-style">
      <p><%= simple_format(post.message) %>
      <%= post.created_at.strftime("%H:%M, %d/%m/%Y") + "  posted by #{post.user.username}" %></p>


        <%= link_to edit_post_path(post) do %>
          <button>Edit</button>
        <% end %>

        <button>
          <%= link_to 'Delete', post, :method => :delete %>
        </button>

    </div>
  <% end %>
</div>
