<!DOCTYPE html>
  <html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Acebook</title>
      <%= csrf_meta_tags %>
      <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>

    </head>

    <body>
    

    <nav>
      <p class="navbar-text float-right">
        <% if user_signed_in? %>
          <%= render "layouts/account_nav" %>
        <% else %>
          <%= render "layouts/public_nav" %>
        <% end %>
      </p>
    </nav>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </body>

  </html>
